body {
  margin: 0;
  padding: 0;


}
/* Hiding scroll bar */
body::-webkit-scrollbar {
  display: none;
}
.Hero-container {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(270deg, #28a183, #1f0085, #112451, #b73380);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

.Hero-container h1 {
  margin: 0;
  width: 45%;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
}

mark.white {
  color: white;
  background: none;
}

.button {
  width: 25%;
  margin-top: 60px;
  border-radius: 220px;
}
.button p {
  margin: 10px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.About-container {
  width: 100%;
  margin-bottom: 100px;
}

.About-container h2 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.abilities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 100%;
  height: 450px;

  justify-content: space-around;
}

.hexagon {
  width: 150px;
  height: 170px;
}

.hexagon h4 {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  font-family: "Roboto", sans-serif;

  margin-top: 10px;
  margin-bottom: 0;
}

.hexagon p {
  color: #534f4f;
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
  font-family: "Roboto", sans-serif;

  margin-top: 10px;
}

.shape {
  display: flex;
  align-items: center;
  justify-content: center;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #ff304f;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}
.shape img {
  width: 50%;
}

.abilities .hexagon:nth-child(3) img {
  width: 40%;
}

.info {
  width: 100%;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.introduction {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  
}

.introHexagon {
  width: 320px;
  height: 350px;
}

.introShape {
  display: flex;
  align-items: center;
  justify-content: center;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #ff304f;
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}

.introShape img {
  object-fit: contain;
  overflow: hidden;
}

.introduction p {
  width: 50%;
  color: #534f4f;
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
  font-family: "Roboto", sans-serif;

  margin-top: 10px;
}

mark.blue {
  color: #1f92b7;
  background: none;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 60vh;
}

canvas {
  width: 90%;
}

.projects-container {
  width: 100%;
  background-color: #d9d9d9;
  
}

.projects-container h2 {
  margin-top: 0;
  padding-top: 50px;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  font-family: "Roboto", sans-serif;
}


.projects{
  width: 100%;
  height: 550px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.project{
  width: 337px;
  height: 337px;
  background-color: black;
  overflow: hidden;

}

.project img {
  width: 100%;
  object-fit:cover;

}



@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
